<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>My Angular App</h1>
      {{ title }}

      @for (myElements of myElements; track myElements.id) {
      <p>{{ myElements.name }}</p>
      }
    </div>
    <input class="form-control" type="text" [(ngModel)]="name" />
    {{ name }}

    myElements: {{ myElements | json }}

    <button (click)="(methodName)">Click me</button>

    <router-outlet></router-outlet>

    <h2>Data from the app component</h2>
    {{ users | json }}
  </div>
</div>
