<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZodiacApp</title>
  </head>
  <body>
    <div class="container">
      <h1>Zodiac App</h1>
      <div class="row">
        <div class="col-md">
          <label for="Name">Name: </label>
          <input type="text" />
        </div>
        <div class="col-md">
          <label for="dateBirth">Date of Birth: </label>
          <input type="date" name="date" id="date" />
        </div>
        <div class="col-md">
          <label for="city">City: </label>
          <input type="text" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-success m-2 btn-lg">GO!</button>
        </div>
      </div>
    </div>
  </body>
</html>

<router-outlet></router-outlet>
