<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZodiacApp</title>
  </head>
  <body>
    <div class="container">
      <h1>Zodiac App</h1>
      <div class="row">
        <div class="col-md">
          <label for="Name">Name: </label>
          <input type="text" [(ngModel)]="inputName" id="nameInput" />
        </div>
        <div class="col-md">
          <label for="dateBirth">Date of Birth: </label>
          <input type="date" [(ngModel)]="inputDate" id="dateInput" />
        </div>
        <div class="col-md">
          <label for="city">City: </label>
          <input type="text" id="cityInput" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            type="button"
            class="btn btn-success m-2 btn-lg"
            (click)="displayData()"
          >
            GO!
          </button>
        </div>
      </div>
      <div class="row">
        @if (displayedData) {
        <div class="col-md">
          <p>Name: {{ inputName }}</p>
          <p>Date: {{ inputDate }}</p>
          @if (foundZodiac !== '') {
          <p>
            Zodiac: <b>{{ foundZodiac }}</b>
          </p>
          }
        </div>
        }
      </div>
      <input type="file" (change)="onFileSelected($event)" />
      <img [src]="imagePath" />
    </div>
  </body>
</html>

<router-outlet></router-outlet>
