<head>
  <link rel="stylesheet" href="../home/home.component.css" />
</head>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        {{ title }}
      </h1>
      <h2>X-MAS budget: {{ xmasbudget | currency : "EUR" }}</h2>
      <button (click)="increaseCount()" class="btn btn-primary m-1">
        Increase
      </button>
      <button (click)="DecreaseCount()" class="btn btn-danger m-1">
        Decrease
      </button>
      <p>Count: {{ count }}</p>

      <!-- <p>URL api: {{ url }}</p> -->
      <label for="">Shopping Item:</label>
      <input class="form-control mb-1" type="text" [(ngModel)]="myContent" />
      <label for="">User:</label>
      <select class="form-control" [(ngModel)]="user">
        @for (user of users; track user.id) {
        <option [value]="user.name">{{ user.name }}</option>
        }
      </select>
      <label for="">Price:</label>
      <input class="form-control mb-1" type="number" [(ngModel)]="priceItem" />

      <h2>{{ myContent }}</h2>
      <button (click)="postData()" class="btn btn-primary">Post</button>

      <h3>My Shopping List</h3>
      @for (todo of todos; track todo.id) { @if (todo.done) {

      <li class="todo-item" style="text-decoration: line-through">
        <button (click)="toggleDone(todo)" class="btn btn-dark m-1">
          Undo
        </button>
        <button class="btn btn-danger m-1" (click)="deleteTodo(todo.id)">
          X
        </button>
        {{ todo.title }} - {{ todo.owner }} -
        {{ todo.price | currency : "EUR" }}
      </li>
      }@else {
      <li class="todo-item">
        <button (click)="toggleDone(todo)" class="btn btn-success m-1">
          Done
        </button>
        <button class="btn btn-danger m-1" (click)="deleteTodo(todo.id)">
          X
        </button>
        {{ todo.title }} - {{ todo.owner }} -
        {{ todo.price | currency : "EUR" }}
      </li>
      } }
    </div>
  </div>
</div>
