<head>
  <link rel="stylesheet" href="../home/home.component.css" />
</head>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        {{ title }}
      </h1>
      <button (click)="increaseCount()" class="btn btn-primary m-1">
        Increase
      </button>
      <button (click)="DecreaseCount()" class="btn btn-danger m-1">
        Decrease
      </button>
      <p>Count: {{ count }}</p>

      <p>URL api: {{ url }}</p>
      <input class="form-control mb-1" type="text" [(ngModel)]="myContent" />
      <select class="form-control" [(ngModel)]="user">
        @for (user of users; track user.id) {
        <option [value]="user.name">{{ user.name }}</option>
        }
      </select>

      <h2>{{ myContent }}</h2>
      <button (click)="postData()" class="btn btn-primary">Post</button>

      <h3>MyShoppingList</h3>
      @for (todo of todos; track todo.id) { @if (todo.done) {

      <li style="text-decoration: line-through">
        {{ todo.title }} - {{ todo.owner }}
        <button class="btn btn-danger m-1">Undo</button>
      </li>
      }@else {
      <li>
        {{ todo.title }} - {{ todo.owner }}
        <button class="btn btn-success m-1">Done</button>
      </li>
      } }
    </div>
  </div>
</div>
